/*Link google fonts and remove default styling*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

/*Section for styling the body and its position on the page*/

body {
    background-color: white;
    max-height: 100vh;
    max-width: 100vw;
    font-family: 'Poppins', sans-serif;
}

.inner-body {
    background-color: black;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*Section for the header styling*/

    /*Apply font & color to all heading types*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Mono', monospace;
    color: #000000;
}

    /*Header style*/

.heading-outer {
    background-color: blue;
    height: 10vh;
    width: 100%;
}

.heading-inner {
    background-color: yellow;
    width: 70%;
    height: 100%;
    margin: auto;  
}

.heading-inner h1 {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2vmax;
}

/*Section for the index page styling*/

    /*Game rules section*/

.rules-outer {
    background-color: green;
    width: 100%;
    height: 70vh;
    margin: auto;
}

.rules-inner {
    background-color: white;
    width:50%;
    height: 100%;
    margin: auto;
    text-align: center;
    line-height: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6vmax;
}

    /*Targets the rules for the traditional game type only*/

.rules-inner span {
    text-transform: uppercase;
    font-weight: bold;
}

    /*Game type section*/

.type-outer {
    background-color: indigo;
    width: 100%;
    height: 20vh;
    margin: auto;
}

.type-inner {
    background-color: red;
    width: 70%;
    height: 100%;
    margin: auto;
}

.traditional {
    float: left;
    height: 100%;
    width: 50%;
    background: red;
}

.modern {
    float: right;
    height: 100%;
    width: 50%;
    background: pink;
}

/*Section for the basic styling of the traditional and modern game type pages*/

    /*Game intro section*/

.intro-outer {
    background-color: orange;
    height: 8vh;
    width: 100%;
}

.intro-inner {
    background-color: purple;
    width: 85%;
    height: 100%;
    margin: auto;
}

.intro-inner p {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1vmax;
}

    /*The section for the player to pick their attack*/

.game-outer {
    background-color: green;
    width: 100%;
    height: 50vh;
    margin: auto;
}

.game-inner {
    background-color: red;
    width: 50%;
    height: 100%;
    margin: auto;
}

    /*The section to display the computers choice*/

.computer-outer {
    background-color: brown;
    height: 8vh;
    width: 100%;
}

.computer-inner {
    background-color: grey;
    width: 85%;
    height: 100%;
    margin: auto;
}

.computer-inner p {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vmax;
}

    /*The section to display the countdown and current + high score*/

.score-outer {
    background-color: lightsalmon;
    width: 100%;
    height: 16vh;
    margin: auto;
}

.score-inner {
    background-color: darkolivegreen;
    width: 70%;
    height: 100%;
    margin: auto;
}

.countdown {
    background-color: deeppink;
    width: 100%;
    height: 30%;
    margin: auto;
}

.countdown h2 {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vmax;
}

.score {
    background: deepskyblue;
    width: 80%;
    height: 70%;
    margin: auto;
    text-align: center;
    font-size: 1vmax;
}

.score div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.high {
    float: left;
    height: 100%;
    width: 50%;
    background: white;  
}

.current {
    float: right;
    height: 100%;
    width: 50%;
    background: teal;
}

/*Footer section*/

.footer-outer {
    background-color: pink;
    height: 8vh;
    width: 100%;
}

.footer-inner {
    background-color: darkred;
    width: 85%;
    height: 100%;
    margin: auto;
}
    /*Styles the icons within the footer*/

.footer-inner nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.8vmax;
}